# GitHub profile username to pull public repositories and stats dashboard details
VITE_GITHUB_USERNAME=kritika-khatri

# LeetCode profile username to resolve difficulties percentages and stats donut charts
VITE_LEETCODE_USERNAME=kritika-khatri

# EmailJS Service Credentials (Create an account on emailjs.com)
VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
